.not-found {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    font-size: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1px;
}

.not-found p {
    position: relative;
    color: white;
    font-weight: bold;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    animation-name: not-found;
    animation-iteration-count: infinite;
    animation-duration: 4s;
}

@keyframes not-found {
    0% {
        margin-top: -15%;
    }

    50% {
        margin-top: -9%;
    }

    100% {
        margin-top: -15%;
    }
}


.not-found video {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}